body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.import-excel-page {
    text-align: center;
    padding: 2rem;
}

.import-excel-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.import-excel-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
}

.import-excel-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.import-excel-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    padding-bottom: 30px;
}

.import-excel-button {
    width: 100%;
    background: #0056b3;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

    .import-excel-button:hover {
        background: #004494;
    }

.import-excel-response {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: green;
}
